# Compiled output
bin

# IDE Metadata
.idea
.vscode

# Configs
configs/configs.yaml
helm/Chart.lock

# Logs
logs
.logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# local deployment directories
_deployment/data/